@CHARSET "UTF-8";
body {
	margin:0;
	padding:0;
}
body embed {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
h1 {
	width:100%;
	font-size:18px;
	text-align:right;
	margin:0;
	padding:0;
}
#tool {
	position:absolute;
	left:2px;
	top:2px;
	width:250px;
	height:35px;
	overflow:hidden;
	-moz-transition:background-color .5s;
	-webkit-transition:background-color .5s;
	-o-transition:background-color .5s;
	transition:background-color .5s;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:4px;
	background-color:#e0e0e0;
	box-shadow:inset rgba(255,255,255,0.7) 2px 2px 2px, inset rgba(0,0,0,0.3) -2px -2px 2px,
			2px 2px 3px 1px rgba(0,0,0,0.7);
	-moz-box-shadow:inset rgba(255,255,255,0.7) 2px 2px 2px, inset rgba(0,0,0,0.3) -2px -2px 2px,
			2px 2px 3px 1px rgba(0,0,0,0.7);
	-webkit-box-shadow:inset rgba(255,255,255,0.7) 2px 2px 2px, inset rgba(0,0,0,0.3) -2px -2px 2px,
			2px 2px 3px 1px rgba(0,0,0,0.7);
}
#tool:hover {background-color:#f0f0f0;}
#tool p {
	margin:5px 0 0 5px;
	padding:0;
	font-size:20px;
}

.help {
	position:absolute;
	left:10%;
	width:80%;
	overflow:hidden;
	height:0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:rgba(192,255,192,0);
}
.help p {
	margin:20px;
}
#help_top {
	top:0;
	-moz-transition:height 1s, top 1s, background-color 1s;
	-webkit-transition:height 1s, top 1s, background-color 1s;
	-o-transition:height 1s, top 1s, background-color 1s;
	transition:height 1s, top 1s, background-color 1s;
}
#help_bottom {
	bottom:0;
	-moz-transition:height 1s, bottom 1s, background-color 1s;
	-webkit-transition:height 1s, bottom 1s, background-color 1s;
	-o-transition:height 1s, bottom 1s, background-color 1s;
	transition:height 1s, bottom 1s, background-color 1s;
}
.help.show {
	height:100px;
	background-color:rgba(192,255,192,1);
	box-shadow:2px 2px 3px 1px rgba(0,0,0,0.7);
	-moz-box-shadow:2px 2px 3px 1px rgba(0,0,0,0.7);
	-webkit-box-shadow:2px 2px 3px 1px rgba(0,0,0,0.7);
}
#help_top.show {
	top:10%;
}
#help_bottom.show {
	bottom:10%;
}
